{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link re="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <h1> EMPLOYEE DETAILS</h1>
    <!-- {% for i in lk %}
    {{i}} <br>
    {% endfor %} -->
    <!-- {{data.id}}
    {{data.name}}
    {{data.designation}}
    {{data.salary}}
    {{data.place}} -->
    <a href="{% url 'next' %}">next page</a>

    
    
</body>
</html>