{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <h1>photography</h1>
    <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam, quos beatae eius, eos nesciunt nihil veniam itaque, modi nisi ipsa praesentium velit
         asperiores facilis suscipit
         excepturi atque possimus harum dolorum.zxx</p>
         
         {{data.name}} 
         {{data.age}}
         <a href="{% url 'next' %}">Next page </a>
</body>
</html>