<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> gallery </h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae repellendus, quas rerum est perspiciatis pariatur dicta aliquid aperiam, libero, non voluptatibus 
        a odit similique enim repudiandae autem. Iste, nam rem.</p>
        <a href="{% url 'home1' %}">previous page </a>
</body>
</html>