{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <table>
        {% for i in d %}
        <tr>
<td> {{i.name}}</td>
<td> {{i.rollno}}</td>
<td> {{i.place}}</td>
<td><a class="btn btn-success" href="{% url 'edit' i.pk %}">edit</a></td>
<td><a class="btn btn-danger" href="{% url 'delete' i.pk %}">delete</a></td>

        </tr>

        {% endfor %}
    </table>
    {% endblock %}
    
</body>
</html>